@using JMAShop.Models
@model IEnumerable<Item>

@{
    Layout = "_Layout";
}


@foreach (var item in @Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@item.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@item.Price.ToString("c")</h3>
                <h3>
                    <a asp-controller="Item" asp-action="Details" asp-route-id="@item.ItemId" asp-area="">@item.Name</a>
                </h3>
                <p>@item.ShortDescription</p>
            </div>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                       asp-route-itemId="@item.ItemId">Add to cart</a>
                </p>
            </div>
        </div>
    </div>
}